@import url(./root.css);

*{
    padding: 0;
    margin: 0;
    background: transparent;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: var(--black-100);
   
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.first-section {
    background: var(--black-200);
    background-image: url(../img/slide_first-section.jpg);
    background-size:cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 1.5em 2em;
    height: 400px;

}


.title_first-section{
    font-family: var(--font-primary);
    font-size: 3.8em;
    font-weight: 80;
    color: var(--bourbon-600);
    margin-top: -250px;
    
}

.subtitle_first-section{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: var(--black-800);
    font-size: 1.2em;

}

.arrow_first-section{
    color: var(--black-500);
}



.second-section,
.text_second-section{
    padding: 1em 1em;
}

.title_text{
    font-family: 'Great Vibes', sans-serif;
    font-size: 2.5em;
    color: var(--bourbon-600);
}

.description_text{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    color: var(--black-400);
    text-align: center;
    font-weight: 200;

}


.third-section{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    color: var(--black-400);
    font-weight: 200;
    padding: 1em 1em;
    background-color: #fff;

}

.descripcion_third-section,
.date_third-section,
.description_third-section,
.button{
    padding: 0.25em 0;
    width: 100%;
}

.icon_third-section{
    width: 100%;
    text-align: center;

}

.title_third-section{
    color: var(--black-900);
    font-weight: 400;
    flex-direction: row;
}

.date_third-section{
    flex-direction: row;
    font-weight: 400;
    color: var(--black-900);

}

.line_date{
    margin-right: 20px;
    margin-left: 20px;
}

.hour_date span{
    font-size: 0.5em;
}

.description_third-section{
    text-align: center;
}

.button{
    text-decoration: none;
    color: var(--black-100);
    background-color: var(--bourbon-600);
    font-size: 0.8em;
    text-align: center;
    font-weight: 400;
    padding: 10px 50px;
    border-radius: 5px;
    margin-top: 40px;
}

.aliance_icon{
    width: 50px;
    height: 55px;
    margin: 0;
}
.brindis_icon{
    width: 50px;
    height: 55px;
}
.dress_icon{
    width: 60px;
    height: 60px;
}

.camera{
    width: 60px;
    height: 65px;
}

.bg-section{
    background-color: var(--bourbon-600) ;
    color: var(--black-100);
}

.color-font-section{
    color: var(--black-100);
}

.photo-2   {
    width: 48%;
}

.photo{
    width: 97%;
}